# maven ignore
target/
logs/
cache/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.ver
ver/
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
versions.mapping
